<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Engine</title>
</head>

<body>
    <h1>{% block title %}Titolo di default{% endblock title %}</h1>

    {{View:{
        "model": {
            "title":"Ricerca"
        }
    }}}View
    
    {{Form:{
        "form": {
            "method": "POST",
            "action": "cippalippa"
        },
        "fields": [
            { "name" : "name" },
            { "name" : "surname" },
            { "name" : "ciaone" },
            { "name" : "dob" }
        ]
    }}}Form
    
    {{Grid:{
        "source":{
            "repository":"Sensorario.Engine.ExampleRepo",
            "resource":"",
            "itemPerPage":"2"
        },
        "model":{
            "title":"Griglia",
            "headers": [
                { "type" : "text" , "field" : "name", "name" : "NOME" },
                { "type" : "text" , "field" : "surname", "name" : "COGNOME" }
            ],
            "rowIdentifier":"id"
        }
    }}}Grid

</body>

</html>